<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>CRUD - Antor</title>
  </head>
  <body class="bg-dark">
    <div class="container">
      
      <div class="ftext">
      <h2 class="text-muted my-3 text-center alert alert-danger">Simple CRUD Project</h2>
      </div>
      
      <div class="row">
        <div class="col-sm-4">
          
        
        <h5 class="text-muted text-center alert alert-success">Add New Girlfriends</h5>
        
        <form class="bg-dark border-0 form-control" action="{% url 'home' %}" method="POST">
          {% csrf_token %}
          <input class="form-control" type="text" name="name" placeholder="Enter Gf Name"/> <br />
          <input class="form-control" type="text" name="number" placeholder="Enter Mobile Number"/> <br />
          <input class="form-control" type="text" name="age" id="" placeholder="Enter Age"/> <br />
          <input class="btn btn-outline-success" type="submit" value="Add Gf" />
        </form>
        </div>
        
        <div class="col-sm-8">
          <h5 class="text-muted text-center alert alert-success">List Of My Girlfriends</h5>
          
          <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Number</th>
      <th scope="col">Age</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
   {% for g in data %}
    <tr>
      <th scope="row">{{g.id}}</th>
      <td>{{g.name}}</td>
      <td>{{g.number}}</td>
      <td>{{g.age}}</td>
      <td><a class="btn btn-outline-warning btn-sm" href="{% url 'update' g.id %}">Update</a>
      
      <form class="d-inline" action="{% url 'delete' g.id %}" method="POST">
      {% csrf_token %}
  <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete"/>
</form></td>
      
    </tr>
   {% endfor %}
  </tbody>
</table>
          
        </div>
      </div>
     
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    
  </body>
</html>